{
	"svelteSortOrder": "scripts-styles-markup",
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100
}
