:root {
  /* --------------------------------- Colours -------------------------------- */

  /* Black & White */
  --color--black-0: #000;
  --color--black-1: #262621;
  --color--black-2: #333;
  --color--black-3: #666;
  --color--white-0: #fff;
  --color--white-1: #eee;
  --color--white-2: #ccc;
  --color--white-3: #aaa;

  /* Colour Pallet */

  --color--primary-1: #f1f4f3;
  --color--primary-2: #efeed2;
  --color--primary-3: #e2dbb2;
  --color--secondary-1: #c46e2a;
  --color--secondary-2: #ec9300;
  --color--secondary-3: #a03557;
  --color--accent-1: #1a0d00;
  --color--accent-2: #ec004a;
  --color--accent-3: #ecd703;


  /* ------------------------------ Modular scale ----------------------------- */

  /* Sizes to use */
  --ratio: 1.5;
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));

  /* Useful to for fallback values */
  --no-space: 0;

  /* ---------------------------------- Type ---------------------------------- */

  --font-size-small-1: calc(var(--s0) / 1.2);
  --font-size-base: var(--s0);
  --font-size-big-1: var(--s1);
  --font-size-big-2: var(--s2);
  --font-size-big-3: var(--s3);
  --font-size-big-4: var(--s4);

  /* ----------------------------- Transition time ---------------------------- */
  --time: 200ms;

  /* --------------------------------- Measure -------------------------------- */
  --measure: 60ch;
  --measure-big: calc(var(--measure) * var(--ratio));
  --measure-small: calc(var(--measure) / var(--ratio));

  /* --------------------------------- Spacing -------------------------------- */
  --space: var(--s-1);
  --cover-space: 1rem;
  --cover-height: 100vh;
}