/* --------------------------- Light colour scheme -------------------------- */
body {
  --color--link: var(--color--secondary-3);
  --color--link-invert: ;
  --color--link-active: ;
  --color--link-active-invert: ;
  --color--outline: ;
  --color--background: ;
  --color--background-invert: ;
  --color--text: var(--color--accent-1);
  --color--text-invert: ;
  --color--heading: var(--color--black-2);
  --color--heading-invert: ;
  --color--text-disabled: ;
  --color--button-expanded: ;
  --color--button-background-expanded: ;
}